<main id="content">
</main>

<script type="text/javascript">
  window.mainBackground = "<%= image_url('WorldDomination.png')%>"
  window.logoImage = "<%= image_url('main_logo.png')%>"
  window.placeholderWoW = "<%= image_url('Captain_Placeholder.jpg')%>"
  window.placeholderGif = "<%= image_url('goldfinger.gif')%>"
  window.sideAd = "<%= image_url('sideAd.png')%>"


  window.beingWatched(job_id) = "<%= MyJob.exists?(job_id: "+ job_id +")%>"
</script>
